/.idea/
.gradle/
out/
headers.kt

!/verikc/src/main/kotlin/verikc/sv/
!/verikc/src/test/kotlin/verikc/sv/
build/
!/verikc/src/main/kotlin/verikc/sv/build/
!/verikc/src/test/kotlin/verikc/sv/build/

*.swp
.DS_Store
