/.idea/
/.run/
.gradle/
out/
headers.kt

!/verikc/src/main/kotlin/verikc/tx/
!/verikc/src/test/kotlin/verikc/tx/
build/
!/verikc/src/main/kotlin/verikc/tx/build/
!/verikc/src/test/kotlin/verikc/tx/build/

*.swp
.DS_Store
