*
!*/
!.gitignore

!codeStyles/codeStyleConfig.xml
!codeStyles/Project.xml
!copyright/profiles_settings.xml
!copyright/apache.xml
!inspectionProfiles/Project_Default.xml
!scopes/compiler.xml
!misc.xml
!modules.xml
!root.iml
!vcs.xml