*
!*/
!.gitignore

!codeStyles/codeStyleConfig.xml
!codeStyles/Project.xml
!copyright/profiles_settings.xml
!copyright/apache.xml
!inspectionProfiles/profiles_settings.xml
!inspectionProfiles/verikc.xml
!scopes/verikc.xml
!jsonSchemas.xml
!kotlinc.xml
!compiler.xml
!misc.xml
!modules.xml
!root.iml
!vcs.xml